<div class="btn-group" role="group" aria-label="...">
  <%= link_to 'Journalist', '#', class: "btn btn-default" %>
  <%= link_to 'Producers', '#', class: "btn btn-default" %>
  <%= link_to 'Presenters', '#', class: "btn btn-default" %>
  <%= link_to 'Assignment', '#', class: "btn btn-default" %>
  <%= link_to 'Planning', '#', class: "btn btn-default" %>
  <%= link_to 'Interview', '#', class: "btn btn-default" %>
  <%= link_to 'Duty Editors', '#', class: "btn btn-default" %>
  <%= link_to 'Heads', '#', class: "btn btn-default" %>
</div>
